* {
    font-family: "Playfair Display", Georgia, "Noto Sans", "Times New Roman", serif
}
.jumbotron {
    background-image: url(../images/cool.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    animation: slide 35s ease-in-out infinite;
    background-position-y: 0
}
@keyframes slide {
    0% {
        background-position-y: 0
    }
    50% {
        background-position-y: 100%
    }
    100% {
        background-position-y: 0
    }
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover
}
.picture {
    width: 20vh;
    height: 15vw;
    object-fit: cover
}
body {
    min-width: 400px;
    background-color: #ebebeb
}
@media only screen and (max-width: 479px) {
    body {
        font-size: 90%
    }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f8ff;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: .5rem
}